:root {
	--h1-color: tomato;
	--h2-color: #70B95F;
	--h3-color: rgb(104, 116, 181);
	--paragraph-color: pink;
	--paragraph-size: 20px;
	--fonts-size: 2em;
	--fonts-family: sans-serif;
	--borders-color: whitesmoke;
}

body {
	font-family: var(--fonts-family);
}

div {
	border: 1px solid var(--borders-color);
}

h1 {
	color: var(--h1-color);
}

h2 {
	color: var(--h2-color);
}

h3 {
	color: var(--h3-color);
}

p {
	color: var(--paragraph-color);
	font-size: var(--paragraph-size);
}

.first {
	font-size: var(--fonts-size);
}